.medplum-document {
  padding: 6px;
  clear: both;
  text-align: center;
}

.medplum-document article {
  background-color: var(--medplum-surface);
  max-width: 900px;
  margin: 8px auto 16px auto;
  padding: 12px 6px;
  text-align: left;
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 var(--medplum-shadow);
}

.medplum-document h1,
.medplum-document h2,
.medplum-document h3 {
  margin: 12px 0;
}

.medplum-document p,
.medplum-document li {
  line-height: 175%;
  margin: 8px 0 16px 0;
}

.medplum-document img,
.medplum-document video {
  width: 100%;
}

.medplum-document textarea {
  margin: 0;
  min-height: 100px;
  width: 100%;
}

.medplum-calendar-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.medplum-calendar-info-pane {
  border-bottom: 1px solid #ddd;
}

.grecaptcha-badge {
  visibility: hidden;
}

.medplum-avatar {
  padding: 0;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  line-height: 32px;
  user-select: none;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  color: var(--medplum-surface);
  background-color: var(--medplum-gray-500);
  font-size: 18px;
}

.medplum-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.medplum-avatar.xsmall {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  font-size: 10px;
}

.medplum-avatar.small {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
  font-size: 11px;
}

.medplum-avatar.large {
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  line-height: 56px;
  font-size: 28px;
}

.medplum-avatar > a {
  color: var(--medplum-surface);
  text-decoration: none;
}

.medplum-button {
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 4px;
  background: var(--medplum-gray-50);
  outline: none;
  font-size: var(--medplum-font-normal);
  line-height: 24px;
  color: var(--medplum-gray-800);
  margin: 1px 2px 1px 0;
  padding: 4px 12px;
  cursor: pointer;
  box-shadow: 0 0.5px 0.5px 0 var(--medplum-shadow);
}

.medplum-button:hover {
  background: var(--medplum-gray-200);
  text-decoration: none;
}

.medplum-button:active {
  background: var(--medplum-gray-300);
}

.medplum-button:focus {
  box-shadow: 0 0 0 2px var(--medplum-blue-200);
}

.medplum-button.medplum-button-large {
  font-size: var(--medplum-font-big);
  line-height: 32px;
  padding: 4px 32px;
}

.medplum-button.medplum-button-small {
  font-size: var(--medplum-font-small);
  line-height: 24px;
  padding: 1px 6px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.1);
}

.medplum-button.medplum-button-primary {
  background-color: var(--medplum-blue-600);
  border-color: var(--medplum-blue-600);
  color: var(--medplum-surface);
}

.medplum-button.medplum-button-primary:hover {
  background-color: var(--medplum-blue-700);
  border-color: var(--medplum-blue-700);
}

.medplum-button.medplum-button-primary:active {
  background-color: var(--medplum-blue-800);
  border-color: var(--medplum-blue-800);
}

.medplum-button.medplum-button-primary:focus {
  box-shadow: 0 0 0 2px var(--medplum-blue-200);
}

.medplum-button.medplum-button-danger {
  background-color: var(--medplum-red-700);
  border-color: var(--medplum-red-700);
  color: var(--medplum-surface);
}

.medplum-button.medplum-button-danger:hover {
  background-color: var(--medplum-red-800);
  border-color: var(--medplum-red-800);
}

.medplum-button.medplum-button-danger:active {
  background-color: var(--medplum-red-900);
  border-color: var(--medplum-red-900);
}

.medplum-button.medplum-button-danger:focus {
  box-shadow: 0 0 0 2px var(--medplum-red-200);
}

.medplum-button.medplum-button-borderless {
  background-color: var(--medplum-surface);
  border: 0;
  box-shadow: none;
}

.medplum-button.medplum-button-borderless:hover {
  background: var(--medplum-gray-200);
}

.medplum-button.medplum-button-borderless:active {
  background: var(--medplum-gray-300);
}

.medplum-button.medplum-button-borderless:focus {
  box-shadow: 0 0 0 2px var(--medplum-blue-200);
}

fieldset.medplum-form-section {
  border: 0;
  margin: 6px 0 12px 0;
  padding: 2px 0 8px 0;
}

fieldset.medplum-form-section > label,
fieldset.medplum-form-section > legend {
  display: block;
  margin: 1px 0 3px 0;
  line-height: 1.75;
  font-weight: 500;
}

fieldset.medplum-form-section > p {
  margin: 1px 0 4px 0;
  padding: 1px 0 4px 0;
  line-height: 1.75;
}

.medplum-input {
  border: 0.1px solid var(--medplum-gray-300);
  border-radius: 2px;
  background: var(--medplum-surface);
  box-shadow: 0 0.5px 0.5px 0 var(--medplum-shadow);
  color: var(--medplum-gray-800);
  font-size: var(--medplum-font-normal);
  height: 34px;
  line-height: 28px;
  max-width: 400px;
  padding: 2px 8px;
  width: 100%;
}

.medplum-input::placeholder {
  color: var(--medplum-gray-600);
}

.medplum-input:focus {
  background: var(--medplum-surface);
  color: var(--medplum-gray-900);
  border: 0.1px solid var(--medplum-blue-300);
  box-shadow: 0 0 0 2px var(--medplum-blue-200);
  outline: 0;
}

.medplum-input:disabled {
  background: var(--medplum-gray-100);
}

.medplum-input-error {
  margin: 2px 0;
  padding: 2px 0;
  font-size: var(--medplum-font-small);
  color: red;
}

.medplum-input-row {
  display: flex;
  width: 100%;
  gap: 3px;
  align-items: center;
  white-space: nowrap;
}

.medplum-calendar-table th {
  font-weight: normal;
  font-size: 11px;
  padding: 8px;
  text-align: center;
}

.medplum-calendar-table td {
  padding: 1px 2px;
}

.medplum-calendar-table button {
  width: 36px;
  height: 36px;
  color: #0060e6;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  background-color: #eef5ff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.medplum-calendar-table button:hover {
  background-color: #d9e9ff;
}

.medplum-calendar-table button:disabled {
  background-color: white;
  cursor: default;
  color: #666;
  font-weight: normal;
}

@media (min-width: 640px) {
  .medplum-calendar-info-pane {
    padding: 10px;
    min-width: 300px;
  }
  .medplum-calendar-selection-pane {
    min-width: 300px;
    padding: 10px;
  }
  .medplum-calendar-table td {
    padding: 2px 4px;
  }
  .medplum-calendar-table button {
    width: 44px;
    height: 44px;
  }
  .medplum-document article {
    padding: 12px 12px;
  }
  .medplum-calendar-table {
    width: 350px;
  }
  .medplum-document {
    margin: 10px auto 6px auto;
  }
}

@media (min-width: 768px) {
  .medplum-calendar-container {
    flex-direction: row;
  }
  .medplum-calendar-info-pane {
    border-right: 1px solid #ddd;
    border-bottom: none;
  }
}

@media (min-width: 1024px) {
  .medplum-calendar-info-pane {
    padding: 20px;
  }
  .medplum-document {
    margin: 20px auto 6px auto;
    padding: 10px;
  }
  .medplum-document article {
    padding: 15px 25px;
  }
  .medplum-calendar-selection-pane {
    padding: 20px;
  }
}
