.medplum-button {
    border: 0.1px solid var(--medplum-gray-300);
    border-radius: 4px;
    background: var(--medplum-gray-50);
    outline: none;
    font-size: var(--medplum-font-normal);
    line-height: 24px;
    color: var(--medplum-gray-800);
    margin: 1px 2px 1px 0;
    padding: 4px 12px;
    cursor: pointer;
    box-shadow: 0 0.5px 0.5px 0 var(--medplum-shadow);
}

.medplum-button:hover {
    background: var(--medplum-gray-200);
    text-decoration: none;
}

.medplum-button:active {
    background: var(--medplum-gray-300);
}

.medplum-button:focus {
    box-shadow: 0 0 0 2px var(--medplum-blue-200);
}

.medplum-button.medplum-button-large {
    font-size: var(--medplum-font-big);
    line-height: 32px;
    padding: 4px 32px;
}

.medplum-button.medplum-button-small {
    font-size: var(--medplum-font-small);
    line-height: 24px;
    padding: 1px 6px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.1);
}

.medplum-button.medplum-button-primary {
    background-color: var(--medplum-blue-600);
    border-color: var(--medplum-blue-600);
    color: var(--medplum-surface);
}

.medplum-button.medplum-button-primary:hover {
    background-color: var(--medplum-blue-700);
    border-color: var(--medplum-blue-700);
}

.medplum-button.medplum-button-primary:active {
    background-color: var(--medplum-blue-800);
    border-color: var(--medplum-blue-800);
}

.medplum-button.medplum-button-primary:focus {
    box-shadow: 0 0 0 2px var(--medplum-blue-200);
}

.medplum-button.medplum-button-danger {
    background-color: var(--medplum-red-700);
    border-color: var(--medplum-red-700);
    color: var(--medplum-surface);
}

.medplum-button.medplum-button-danger:hover {
    background-color: var(--medplum-red-800);
    border-color: var(--medplum-red-800);
}

.medplum-button.medplum-button-danger:active {
    background-color: var(--medplum-red-900);
    border-color: var(--medplum-red-900);
}

.medplum-button.medplum-button-danger:focus {
    box-shadow: 0 0 0 2px var(--medplum-red-200);
}

.medplum-button.medplum-button-borderless {
    background-color: var(--medplum-surface);
    border: 0;
    box-shadow: none;
}

.medplum-button.medplum-button-borderless:hover {
    background: var(--medplum-gray-200);
}

.medplum-button.medplum-button-borderless:active {
    background: var(--medplum-gray-300);
}

.medplum-button.medplum-button-borderless:focus {
    box-shadow: 0 0 0 2px var(--medplum-blue-200);
}

.medplum-status {
    padding: 1px 6px;
    font-size: 80%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 8px;
}

.medplum-status-active,
.medplum-status-draft,
.medplum-status-preliminary,
.medplum-status-registered,
.medplum-status-requested {
    background-color: var(--medplum-blue-50);
    border: 0.01px solid var(--medplum-blue-300);
    color: var(--medplum-blue-800);
}

.medplum-status-on-hold {
    background-color: var(--medplum-orange-50);
    border: 0.01px solid var(--medplum-orange-300);
    color: var(--medplum-orange-800);
}

.medplum-status-completed {
    background-color: var(--medplum-green-50);
    border: 0.01px solid var(--medplum-green-300);
    color: var(--medplum-green-800);
}

.medplum-status-cancelled,
.medplum-status-rejected,
.medplum-status-revoked,
.medplum-status-entered-in-error {
    background-color: var(--medplum-red-50);
    border: 0.01px solid var(--medplum-red-300);
    color: var(--medplum-red-800);
}

.medplum-status-unknown {
    background-color: var(--medplum-gray-50);
    border: 0.01px solid var(--medplum-gray-500);
    color: var(--medplum-gray-800);
}

.medplum-request-group {
    padding: 4px;
}

.medplum-request-group-task {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 16px;
}

.medplum-request-group-task-checkmark {
    color: var(--medplum-gray-700);
    font-size: 24px;
    width: 40px;
}

.medplum-request-group-task-details {
    flex: 1;
    line-height: 1.75;
}

.medplum-request-group-task-title {
    font-size: 14px;
    font-weight: bold;
}

.medplum-request-grou-task-actions {
    width: 100px;
}